<div class="h-full flex justify-center items-center py-6 px-4 bg-blue-700 lg:py-0 sm:px-0">
    <div class="max-w-md xl:max-w-2xl">
        <div class="flex gap-20">
        <img style="height: 70px; width: auto;" src="/assets/images/first.png" />
        <img style="height: 70px; width: auto;"   src="/assets/images/second.png" />
        <img style="height: 70px; width: auto;"  src="/assets/images/third.png" />
        <div></div>
        <img style="height: 70px; width: auto;"  src="/assets/images/fourth.png" />
    </div>
        <img class="text-red-400" src="/assets/images/questify.png" />
        <h1 class="mb-4 mt-4 text-3xl font-extrabold tracking-tight leading-none text-white xl:text-5xl">Level Up Your
            Life: Gamify Your Goals, Achieve Epic Wins!</h1>
    </div>
</div>
